*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    width:1000px; margin:4px auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #4834d4;
    background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);

}
html{
    font-size: 62.5%;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: antiquewhite;
    position: relative;
}
img{
    width: 100%;
}
h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
/* HEADER */

header{
    display: flex;
    background-image: url(https://www.bureauveritas.com.mx/sites/g/files/zypfnx811/files/2020-03/15823717044_7d4b0becef_k.jpg);
    background-position: center;
    align-items: flex-end;
    justify-content: space-around;
    padding: 2rem 0;
    border-bottom: 2px solid yellow;
}
header .header__log{
    flex-basis: 40%;
}
header .navigation{
    flex-basis: 60%;
}
header nav .menu{
    display: flex;
    gap: 2rem;
    justify-content: center;
}
.menu .menu__link{
    font-size: 1.6em;
    padding: 1rem;
}
.menu .menu__items:hover{
    background-color: black;
    transition: 1s;
}
.recomendations{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;

}
.registro{
    display: flex;
    flex-direction: column;
}
.youtube-link{
    padding: 2rem;
    background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );  
}
.youtube-link:hover{
    width: 90%;
    background-color: #4834d4;
    transition: 1s;
}
input{
    border: none;
    background-color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 4px;
    padding: 15px;
}
.image__backg:hover{
    width: 90%;
    transition: 1s;
}
.button1{
    background-color: red;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1:hover{
    background-color: gold;
    font-size: 14px;
    transition: 1s;
}
.menu__chicha{
    padding: 10px;
    border: 1px solid whitesmoke;
    margin: 5px;
}
.menu__chicha:hover{
    background-color: #36096d;
    background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
    transition: 2s;
}
footer{
    color:white;
    padding: 3rem;
}
h2 .opi{
    display: inline-block;
    justify-content: end;
}
/*GALLERY*/
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;
}
.options{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .5rem;
    row-gap: .5rem;
}

.opinion-chicha{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/0f/f7/d9/fc/sucursal-cineteca-nacional.jpg);
}
.options .image{
    width: 100%;
    margin: auto;
    display: grid;
    padding: 2em;
    background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.options .image:hover{
    width: 90%;
    background-color: #4834d4;
    transition: 1s;
}
.sug{
    font-size: 2em;
    padding: 2em;
}
.image img{
    width: 100%;
    border: 2px;
    border-color: red;
    border-radius: 5px;
}
.gallery__img{
    width: 100%;
    margin: auto;
    display: grid;   
}
.container{
    padding: 3em;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.titulo{
    display: inline-flex;
    justify-content: space-around;
}
.titulo img{
    flex-basis: 60%;
    padding: 2em;
}
.titulo iframe{
    flex-basis: 40%;
    padding: 4em;
}

.contacto{
    display: inline-flex;
    padding: 2rem;  
}
.introduction{
    padding: 3rem;
    font-size: 1.8em;
}
@media(max-width: 900px) {
    header{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .gallery{
        grid-template-columns:repeat(2, 1fr);
    }
    .titulo{
        flex-direction: column;
        justify-content: center;
    }
}
@media(max-width:770px){
    header nav .menu{
        justify-content: center;
        display: flex;
        flex-direction: inherit;
        flex-direction: column;
    }
    header{
        display: inline;
        justify-content: center;
    }
    img .header__img{
        background-size: auto;
    }
    .gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    .titulo{
        flex-direction: column;
    }
    h1{
        font-size: small;
    }
    h2{
        font-size: small;
    }
    .recomendations{
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: .5rem;
        row-gap: .5rem;
    
    }
    .options{
        grid-template-columns: repeat(1, 1fr);
        width: 70%;
    }
}
@media(max-width:320px){
    header nav .menu{
        justify-content: center;
        display: flex;
        flex-direction: inherit;
        flex-direction: column;
    }
    header{
        display: inline;
        justify-content: center;
    }
    img .header__img{
        background-size: auto;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: small;
    }
    h2{
        font-size: small;
    }
    .titulo{
        display:flex;
    }
    iframe{
        display: flex;
        width: 80%;
    }
    .recomendations{
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: .5rem;
        row-gap: .5rem;
    
    }
}
@media(max-width:210px){
    h1{
        font-size: small;
    }
    h2{
        font-size: small;
    }
    .titulo{
        display:flex;
    }
    header nav .menu{
        justify-content: center;
        display: flex;
        flex-direction: inherit;
        flex-direction: column;
    }
    header{
        display: inline;
        justify-content: center;
    }
    img .header__img{
        background-size: auto;
    }
    iframe{
        display: flex;
        width: 80%;
    }
    .recomendations{
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: .5rem;
        row-gap: .5rem;
    
    }
}
@media(max-width:150px){
    h1{
        font-size: small;
    }
    h2{
        font-size: small;
    }
    .titulo{
        display:flex;
    }
    header nav .menu{
        justify-content: center;
        display: flex;
        flex-direction: inherit;
        flex-direction: column;
    }
    header{
        display: inline;
        justify-content: center;
    }
    img .header__img{
        background-size: auto;
    }
    iframe{
        display: flex;
        width: 40%;
    }
    .recomendations{
        width: 40%;
        padding: 2rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: .5rem;
        row-gap: .5rem;
    
    }
}