<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="header__log">
            <img class="header__img" src="../img/logo.svg" alt="logo pagina">
        </picture>
             <nav class="navigation">
                <ul class="menu">
                    <li class="menu__items">
                        <a class="menu__link" href="../index.html"><h1>HOME</h1></a>
                    </li>
                    <li class="menu__items">
                        <a class="menu__link" href="./nosotros.html"><H1>NOSOTROS</H1></a>
                    </li>
                    <li class="menu__items">
                        <a class="menu__link" href="./contacto.html"><H1>CONTACTO</H1></a>
                    </li>   
                </ul>
            </nav>
    </header>
    <nav>
        <h2>C O M I D A</h2>
            <a href="./chicha.html"><img src="../img/chicha/chicha.jpg" alt="place" width="50%"></a>
            <a href="https://www.google.com.mx/maps/search/restaurantes/@19.4399184,-99.191184,15z/data=!3m1!4b1?hl=es-419"><h3>Mas opciones...</h3></a>
        
    </nav>

    <footer>
        <p>
            Follow us:
            <a href="https://twitter.com/danncgoo">
                On twitter</a>
        </p>
        <p>&copy; Copyright 2022, All Rights Reserved.</p>
   </footer>
</body>
</html>