<style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
    </style>
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="header__log">
            <img class="header__img" src="../img/logo.svg" alt="logo pagina">
        </picture>
             <nav class="navigation">
                <ul class="menu">
                    <li class="menu__items">
                        <a class="menu__link" href="../index.html"><h1>HOME</h1></a>
                    </li>
                    <li class="menu__items">
                        <a class="menu__link" href="./nosotros.html"><H1>NOSOTROS</H1></a>
                    </li>
                    <li class="menu__items">
                        <a class="menu__link" href="./contacto.html"><H1>CONTACTO</H1></a>
                    </li>   
                </ul>
            </nav>
    </header>
    <main class="container">
        <section class="titulo">
            <img class="image" src="../img/chicha/chicha.jpg" alt="TITULO">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.189251099002!2d-99.16663638509446!3d19.360956486925147!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ffc096526095%3A0x7202f50878411806!2sLa%20Chicha%20Cineteca!5e0!3m2!1ses-419!2smx!4v1654480703791!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section class="description1">
            <h1>La Chicha Cineteca</h1>
            <h2>Direccion: </h2> <h3>Av. México Coyoacán 389, Xoco, Benito Juárez, 03330 Ciudad de México, CDMX</h3>
            <h2>Horario: </h2><h3>11:00 - 21:00 Hrs</h3>
            <nav class="menu__chicha">
                <a href="https://www.lamaschicha.com/menus"><h2>Puedes ver el menú y mayor informacion del lugar aqui.</h2></a>
            </nav>
        </section>
        <h1>GALERIA:</h1>
        <section class="gallery">
            <div class="image"><img src="../img/chicha/chicha1.jpeg" alt=""></div>
            <div class="image"><img src="../img/chicha/chicha2.jpeg" alt=""></div>
            <div class="image"><img src="../img/chicha/chicha3.jpeg" alt=""></div>
            <div class="image"><img src="../img/chicha/chicha4.jpeg" alt=""></div>
            <div class="image"><img src="../img/chicha/chicha5.jpeg" alt=""></div>
            <div class="image"><img src="../img/chicha/chicha6.jpeg" alt=""></div>
        </section>
         <section class="opi">
            <h2>Escribir una opinion</h2>
            <textarea name="Opinion" id="" cols="30" rows="10"></textarea>
            <button class="button1">Enviar</button>
        </section>
    </main>
    <footer>
        <p>
           <h2>
               Follow us:
               <a href="https://twitter.com/danncgoo">
                   On twitter</a>
           </h2>
        </p>
        <p><h3>&copy; Copyright 2022, All Rights Reserved.</h3></p>
   </footer>
</body>
</html>