<style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
    </style>
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="header__log">
            <img class="header__img" src="../img/logo.svg" alt="logo pagina">
        </picture>
             <nav class="navigation">
                <ul class="menu">
                    <li class="menu__items">
                        <a class="menu__link" href="../index.html"><h1>HOME</h1></a>
                    </li>
                    <li class="menu__items">
                        <a class="menu__link" href="./nosotros.html"><H1>NOSOTROS</H1></a>
                    </li>
                    <li class="menu__items">
                        <a class="menu__link" href="./contacto.html"><H1>CONTACTO</H1></a>
                    </li>   
                </ul>
            </nav>
    </header>
    <section class="contacto">
        <form action="./gracias.html" method="post">
            <section class="introduction">
                <h1>C O N T A C T O</h1>
            </section>
            <h2>Nos gustaria saber sobre ti</h2>
            <label for="usuario"><h3>Nombre: </h3></label>
            <input type="text" name="usuario" placeholder="Nombre">
            <label for="email"><h3>Correo de contacto: </h3></label>
            <input type="Correo de contacto" placeholder="Email">
            <label for="address"><h3>Direccion: </h3></label>
            <input type="address" name="Direccion" placeholder="Direccion">
            <button class="button1" type="submit">Enviar</button>
            <button class="button1" type="reset">Borrar</button>
        </form>
    </section>
    <img src="../img/uno.jpg" alt="Bellas artes" width="100%">
    <footer>
        <p>
           <h2>
               Follow us:
               <a href="https://twitter.com/danncgoo">
                   On twitter</a>
           </h2>
        </p>
        <p><h3>&copy; Copyright 2022, All Rights Reserved.</h3></p>
   </footer>
</body>
</html>