<style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
    </style>
 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header>
        <picture class="header__log">
            <img class="header__img" src="../img/logo.svg" alt="logo pagina">
        </picture>
             <nav class="navigation">
                <ul class="menu">
                    <li class="menu__items">
                        <a class="menu__link" href="../index.html"><h1>HOME</h1></a>
                    </li>
                    <li class="menu__items">
                        <a class="menu__link" href="./nosotros.html"><H1>NOSOTROS</H1></a>
                    </li>
                    <li class="menu__items">
                        <a class="menu__link" href="./contacto.html"><H1>CONTACTO</H1></a>
                    </li>   
                </ul>
            </nav>
    </header>
    <section>
        <div class="contenedor-dos">
            <div class="centrado-encima-dos"><h2 id="que">¿Quienes somos?</h2></div>
        </div>
    </section>
    <footer>
        <p>
           <h2>
               Follow us:
               <a href="https://twitter.com/danncgoo">
                   On twitter</a>
           </h2>
        </p>
        <p><h3>&copy; Copyright 2022, All Rights Reserved.</h3></p>
   </footer>
</body>
</html>